@import '../Assets/base.scss';

.container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20vh;
    width: 100%;
    gap: 100px;
    padding: 30px;

    .logo {
        display: flex;
        flex-flow: row;
        gap: 20px;
    }

    .navItems {
        display: flex;
        gap: 20px;
        justify-content: end;

        li{
            padding: 10px;
            border-radius: 10px;
        }

        li:hover{
            background-color: #f5f5f5;
            padding: 10px
        }
    }

}